*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  cursor: pointer;
}
