<section class="choose_type_section">
  <div class="container choose_type_container">
    <div class="choose_type_row series_page_text_medium en_font">
      <a
        data-target="optical"
        id="optical"
        class="choose_type_btn"
        href="optical_series.html"
        >OPTICAL</a
      >
      <a
        data-target="sunglasses"
        id="sunglasses"
        class="choose_type_btn"
        href="sunglasses_series.html"
        >SUNGLASSES</a
      >
      <a class="choose_type_btn" href="">FUNCTIONAL</a>
    </div>
  </div>
</section>
