<header class="header">
  <nav class="container">
    <div class="nav_row">
      <a class="logo_container" href="index.html">
        <img class="logo" src="../assets/images/logo-white.png" alt="logo" />
      </a>
      <ul class="nav_btns">
        <li>
          <a id="series_optical" class="text" href="optical_series.html"
            >系列鏡框</a
          >
        </li>
        <li><a class="text" href="shop_list.html">門市據點</a></li>
        <li><a class="text" href="blog_list.html">部落格</a></li>
        <li><a class="text" href="faq.html">常見問題</a></li>
      </ul>
    </div>
  </nav>
</header>
