<div class="select_box text_x_medium">
  <span>選擇地區</span>
  <select class="shop_select" name="" id="">
    <option value="">台北市</option>
    <option value="">台中市</option>
    <option value="">高雄市</option>
  </select>
</div>
