$main_bg_color: #fbf2f2;
$second_bg_color: #aa0601;

$main_font_color: #650300;
$second_font_color: #aa0601;
$third_font_color: #555555;
$fourth_font_color: #495057;

$main_boder_color: #dcdcdc;
$second_boder_color: #555555;
$third_boder_color: #9f1213;
$fourth_boder_color: #ced4da;
$fifth_boder_color: #00000020;

$product_color_1: #5f3e2d;
$product_color_2: #b75929;
