.footer {
  background-color: $dark_red_bg;
}

.footer_row {
  @include pad {
    padding: 0 40px;
  }
  @include mobile {
    padding: 0 16px;
  }
}

.main_footer_info {
  border-bottom: 1px solid $white;
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  @include mobile {
    padding-top: 24px;
  }
  .info_box {
    margin-bottom: 32px;
    @include mobile {
      margin-bottom: 20px;
    }
    ul {
      display: flex;
      gap: 48px;
      margin-bottom: 24px;
      align-items: center;
      height: 48px;
      @include pad {
        height: 40px;
        gap: 32px;
      }
      @include mobile {
        display: none;
      }
    }
    .info {
      color: $white;
      display: flex;
      gap: 22px;
      margin-bottom: 8px;
      @include mobile {
        gap: 11px;
        align-items: center;
      }
    }
    .text_medium {
      @include mobile {
        font-size: 16px;
      }
    }
    .material-symbols-outlined {
      @include mobile {
        font-size: 24px;
      }
    }
  }
  .icons_box {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    @include pad {
      gap: 16px;
    }
    @include mobile {
      gap: 8px;
    }
    img {
      width: 48px;
      height: 48px;
      @include pad {
        width: 40px;
        height: 40px;
      }
      @include mobile {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.copyright_container {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  @include mobile {
    padding: 20px 0 24px 0;
    flex-direction: column;
  }
  .copyright {
    color: #fff;
    @include mobile {
      margin-bottom: 8px;
    }
  }
  ul {
    display: flex;
    gap: 48px;
    @include mobile {
      flex-direction: column;
      gap: 8px;
      .text_x_small {
        font-size: 16px;
      }
    }
  }
}
