.hero_section {
  background-image: url(/assets/images/home-header.png);
  .hero_row {
    padding: 296px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include mobile {
      padding: 144px 0;
      .h3 {
        font-size: 16px;
      }
      .h1 {
        font-size: 24px;
      }
    }
    a {
      margin-top: 4px;
      text-decoration: none;
      color: $white;
      padding: 6px 12px;
      background-color: $dark_red_bg;
      @include mobile {
        margin-top: 8px;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 992px) {
  .hero_section {
    background-image: url(/assets/images/home-header-sm.png);
  }
}

.feature_section {
  background-color: $pale_pink_bg;

  .feature_row {
    padding: 80px 0;
    @include mobile {
      padding: 40px 0 8px 0;
    }
  }
  .h2 {
    text-align: center;
    margin-bottom: 36.5px;
    @include mobile {
      font-size: 24px;
    }
  }
  .feature_box {
    display: flex;
    gap: 24px;
    @include pad {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }
}

.feature_item {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 83.83px;
    margin-bottom: 24.08px;
  }
  .feature_title {
    color: $deep_brown_font;
    margin-bottom: 8px;
  }
  @include pad {
    width: 50%;
    max-width: 336px;
  }
  @include mobile {
    margin-bottom: 32.33px;
    width: 100%;
  }
}

.classic_section {
  background-color: $white;
  .classic_row {
    padding: 80px 0;
    @include pad {
      padding-bottom: 56px;
    }
    @include mobile {
      padding-top: 40px;
      padding-bottom: 16px;
    }
  }
  .classic_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    @include pad {
      flex-direction: column;
      align-items: center;
    }
  }
}

.classic_item {
  display: block;
  width: calc((100% - 24px * 2) / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-bottom: 8px;
  }
  .h2 {
    margin-bottom: 0;
    text-align: center;
  }
  @include pad {
    margin-bottom: 24px;
    width: 50%;
  }
  @include mobile {
    width: 100%;
  }
}

.join_design_section {
  background-image: url(/assets/images/index-bg.png);
  .join_design_row {
    padding: 80px 0;
    @include mobile {
      padding: 40px 0;
    }
    .h2 {
      color: $white;
    }
    .join_item_box {
      display: flex;
      @include pad {
        flex-direction: column;
        gap: 24px;
      }
    }
    .join_item_bg_1 {
      background-image: url(/assets/images/home-section4-1.png);
      width: 100%;
      height: 240px;
    }
    .join_item_bg_2 {
      background-image: url(/assets/images/home-section4-2.png);
      width: 100%;
      height: 240px;
    }
  }
}

.join_item {
  width: 50%;
  @include pad {
    width: 100%;
  }
  .join_item_title {
    padding: 8px 0;
    background-color: $white;
    text-align: center;
    border-right: 1px solid $light_gray_border;
  }
}

@media (max-width: 992px) {
  .join_design_section {
    background-image: url(/assets/images/index-bg-md.png);
  }
}

@media (max-width: 768px) {
  .join_design_section {
    .join_design_row {
      .join_item_bg_1 {
        background-image: url(/assets/images/home-section4-1-sm.png);
      }
      .join_item_bg_2 {
        background-image: url(/assets/images/home-section4-2-sm.png);
      }
    }
  }
}

.custom_recommand_row {
  padding: 80px 0;
  @include mobile {
    padding: 40px 0;
  }
  .custom_card_box {
    display: flex;
    @include pad {
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @include mobile {
      justify-content: center;
    }
  }
}

.custom_card {
  display: flex;
  width: 25%;
  flex-direction: column;
  text-decoration: none;
  color: $black;
  box-shadow: 0px 2px 6px $black_shadow;
  border: 1px solid $light_gray_border;
  border-radius: 4px;
  margin-right: 24px;
  .info_box {
    padding: 16px;
  }
  .name {
    margin-bottom: 8px;
  }
  .recommand_words {
    margin-bottom: 72px;
    min-height: 48px;
  }
  .date {
    color: $gray;
  }
  &:last-child {
    margin-right: 0;
  }
  @include pad {
    width: calc(50% - 12px);
    margin-bottom: 24px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  @include mobile {
    width: 100%;
    margin-right: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contact_us_section {
  background-color: $pale_pink_bg;
  .contact_us_row {
    padding: 80px 0;
    max-width: 636px;
    margin: 0 auto;
    @include pad {
      max-width: 576px;
    }
    @include mobile {
      padding: 40px 0;
      max-width: 348px;
    }
  }
  .contact_text {
    margin-bottom: 24px;
    @include pad {
      font-size: 16px;
    }
  }
  .input_box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 48px;
    .input_container {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    .contact_input {
      padding: 6px 12px;
      background-color: rgba($color: $black, $alpha: 0);
      border: 1px solid $black;
    }
    .contact_textarea {
      padding: 6px 12px;
      resize: none;
      background-color: rgba($color: $black, $alpha: 0);
      border: 1px solid $black;
    }
    .checkbox_container {
      display: block;
      position: relative;
      padding-left: 32px;
      cursor: pointer;

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        background-color: rgba($color: $black, $alpha: 0);
        border: 3px solid $black;
        border-radius: 4px;
        &::after {
          content: "";
          position: absolute;
          display: none;
          left: 5px;
          top: -1px;
          width: 10px;
          height: 15px;
          border: solid $white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
          background-color: $dark_red_bg;
        }
        &:checked ~ .checkmark::after {
          display: block;
        }
      }
    }
  }
  .submit_btn_container {
    display: flex;
    justify-content: center;
  }
  .submit_btn {
    padding: 16px 176px;
    text-align: center;
    border: 0;
    color: $white;
    background-color: $dark_red_bg;
    &:hover {
      cursor: pointer;
    }
    @include pad {
      padding: 16px 136px;
    }
    @include mobile {
      padding: 16px 141px;
    }
  }
}
