$main_bg_color: #fbf2f2;
$second_bg_color: #aa0601;
$third_bg_color: #650300;

$main_font_color: #650300;
$second_font_color: #aa0601;
$third_font_color: #555555;
$fourth_font_color: #495057;

$main_border_color: #dcdcdc;
$second_border_color: #555555;
$third_border_color: #9f1213;
$fourth_border_color: #ced4da;
$fifth_border_color: #00000020;
$six_border_color: #707070;

$product_color_1: #5f3e2d;
$product_color_2: #b75929;
