<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section class="hero_section bg_img_format">
        <div class="container">
          <div class="hero_row">
            <h3 class="h3">Promise-Desert 2020 早春系列</h3>
            <h1 class="h1">看得清，才能看得遠</h1>
            <a class="text" href="">立即購買</a>
          </div>
        </div>
      </section>
      <section class="feature_section">
        <div class="container">
          <div class="feature_row">
            <h2 class="h2">用專業的心，做專業的事</h2>
            <div class="feature_box">
              <div class="feature_item">
                <img src="../assets/images/home-section2-1.png" alt="icon" />
                <p class="feature_title font_weight_bold text_x_medium">
                  單一價格
                </p>
                <p class="feature_info text_small">
                  無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。
                </p>
              </div>
              <div class="feature_item">
                <img src="../assets/images/home-section2-2.png" alt="icon" />
                <p class="feature_title font_weight_bold text_x_medium">
                  20 分鐘即可取件
                </p>
                <p class="feature_info text_small">
                  為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
                  20 分鐘即可完成。
                </p>
              </div>
              <div class="feature_item">
                <img src="../assets/images/home-section2-3.png" alt="icon" />
                <p class="feature_title font_weight_bold text_x_medium">
                  安心售後服務
                </p>
                <p class="feature_info text_small">
                  我們提供長達 120
                  天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
                </p>
              </div>
              <div class="feature_item">
                <img src="../assets/images/home-section2-4.png" alt="icon" />
                <p class="feature_title font_weight_bold text_x_medium">
                  關於鏡片
                </p>
                <p class="feature_info text_small">
                  使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="classic_section">
        <div class="container">
          <div class="classic_row">
            <h2 class="h2 index_h2_format">經典系列鏡框</h2>
            <div class="classic_box">
              <a class="classic_item">
                <img src="../assets/images/home-section3-1.png" alt="person" />
                <h2 class="h2 en_font index_en_h2_format">OPTICAL</h2>
              </a>
              <a class="classic_item">
                <img src="../assets/images/home-section3-2.png" alt="person" />
                <h2 class="h2 en_font index_en_h2_format">SUNGLASSES</h2>
              </a>
              <a class="classic_item">
                <img src="../assets/images/home-section3-3.png" alt="person" />
                <h2 class="h2 en_font index_en_h2_format">FUNCTIONAL</h2>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="join_design_section bg_img_format">
        <div class="container">
          <div class="join_design_row">
            <h2 class="h2 index_h2_format">聯名設計鏡框</h2>
            <div class="join_item_box">
              <div class="join_item">
                <div class="join_item_bg_1 bg_img_format"></div>
                <p class="join_item_title en_font index_en_h2_format">
                  DOUBLE A+
                </p>
              </div>
              <div class="join_item">
                <div class="join_item_bg_2 bg_img_format"></div>
                <p class="join_item_title en_font index_en_h2_format">YOUTH</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="custom_recommand_section">
        <div class="container">
          <div class="custom_recommand_row">
            <h2 class="h2 index_h2_format">顧客推薦</h2>
            <div class="custom_card_box">
              <a href="" class="custom_card scale_hover">
                <img src="../assets/images/home-section5-1.png" alt="profile" />
                <div class="info_box">
                  <p class="name text_small font_weight_medium">Jessy</p>
                  <p class="recommand_words text_small">
                    眼鏡品質優良，下次還會想來這邊購買！
                  </p>
                  <div class="date text_x_small">2021/06/20</div>
                </div>
              </a>
              <a href="" class="custom_card scale_hover">
                <img src="../assets/images/home-section5-2.png" alt="profile" />
                <div class="info_box">
                  <p class="name text_small font_weight_medium">凱倫</p>
                  <p class="recommand_words text_small">
                    做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
                  </p>
                  <div class="date text_x_small">2021/04/18</div>
                </div>
              </a>
              <a href="" class="custom_card scale_hover">
                <img src="../assets/images/home-section5-3.png" alt="profile" />
                <div class="info_box">
                  <p class="name text_small font_weight_medium">悠悠</p>
                  <p class="recommand_words text_small">
                    謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
                  </p>
                  <div class="date text_x_small">2020/12/25</div>
                </div>
              </a>
              <a href="" class="custom_card scale_hover">
                <img src="../assets/images/home-section5-4.png" alt="profile" />
                <div class="info_box">
                  <p class="name text_small font_weight_medium">Kyuan</p>
                  <p class="recommand_words text_small">
                    服務很好，品質沒有任何問題，非常喜歡。
                  </p>
                  <div class="date text_x_small">2020/10/31</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="contact_us_section">
        <div class="container">
          <div class="contact_us_row">
            <h2 class="h2 index_h2_format">聯絡我們</h2>
            <p class="text contact_text">
              我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
            </p>
            <form action="">
              <div class="input_box">
                <div class="input_container">
                  <label for="name" class="input_label text_small">姓名</label>
                  <input
                    type="text"
                    id="name"
                    class="contact_input text_small"
                    placeholder="陳小明"
                  />
                </div>
                <div class="input_container">
                  <label for="phone" class="input_label text_small"
                    >聯絡電話</label
                  >
                  <input
                    type="text"
                    id="phone"
                    class="contact_input text_small"
                    placeholder="0912-345-678"
                  />
                </div>
                <div class="input_container">
                  <label for="mail" class="input_label text_small"
                    >電子郵件</label
                  >
                  <input
                    type="text"
                    id="mail"
                    class="contact_input text_small"
                    placeholder="example@email.com"
                  />
                </div>
                <div class="input_container">
                  <label for="text" class="input_label text_small"
                    >意見反應</label
                  >
                  <textarea
                    name="text"
                    id="text"
                    cols="30"
                    rows="10"
                    class="contact_textarea text_small"
                    placeholder="請輸入您的意見"
                  ></textarea>
                </div>
                <label class="checkbox_container text_small"
                  >我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。
                  <input type="checkbox" id="agree_check" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="submit_btn_container">
                <button class="submit_btn font_weight_bold text_small">
                  確認送出
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
