<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>系列鏡框-OPTICAL</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <%- include('./layout/choose_series_type'); -%>
      <section class="product_showcase_section">
        <div class="showcase_container">
          <div class="optical_showcase1 bg_img_format"></div>
          <div class="optical_showcase2 bg_img_format"></div>
        </div>
      </section>
      <section class="product_section">
        <div class="container">
          <div class="product_row">
            <div class="product_title_box">
              <h1 class="series_h1">Celluloid Combi</h1>
              <h2 class="series_h2">賽璐珞鈦金屬混合鏡框</h2>
            </div>
            <ul class="product_container">
              <li class="product_item">
                <a class="product_link" href="">
                  <img src="../assets/images/product-1.png" alt="product" />
                  <div class="info_box text_x_medium en_font">
                    <p class="name">BJ41600S</p>
                    <p class="price font_weight_medium">NTD3,490</p>
                  </div>
                  <div class="color_box">
                    <div class="color1"></div>
                    <div class="color2"></div>
                  </div>
                </a>
              </li>
              <li class="product_item">
                <a class="product_link" href="">
                  <img src="../assets/images/product-2.png" alt="product" />
                  <div class="info_box text_x_medium en_font">
                    <p class="name">BJ41600S</p>
                    <p class="price font_weight_medium">NTD3,490</p>
                  </div>
                  <div class="color_box">
                    <div class="color1"></div>
                    <div class="color2"></div>
                  </div>
                </a>
              </li>
              <li class="product_item">
                <a class="product_link" href="">
                  <img src="../assets/images/product-3.png" alt="product" />
                  <div class="info_box text_x_medium en_font">
                    <p class="name">BJ41600S</p>
                    <p class="price font_weight_medium">NTD3,490</p>
                  </div>
                  <div class="color_box">
                    <div class="color1"></div>
                    <div class="color2"></div>
                  </div>
                </a>
              </li>

              <li class="product_item">
                <a class="product_link" href="">
                  <img src="../assets/images/product-4.png" alt="product" />
                  <div class="info_box text_x_medium en_font">
                    <p class="name">BJ41600S</p>
                    <p class="price font_weight_medium">NTD3,490</p>
                  </div>
                  <div class="color_box">
                    <div class="color1"></div>
                    <div class="color2"></div>
                  </div>
                </a>
              </li>
              <li class="product_item">
                <a class="product_link" href="">
                  <img src="../assets/images/product-5.png" alt="product" />
                  <div class="info_box text_x_medium en_font">
                    <p class="name">BJ41600S</p>
                    <p class="price font_weight_medium">NTD3,490</p>
                  </div>
                  <div class="color_box">
                    <div class="color1"></div>
                    <div class="color2"></div>
                  </div>
                </a>
              </li>
              <li class="product_item">
                <a class="product_link" href="">
                  <img src="../assets/images/product-6.png" alt="product" />
                  <div class="info_box text_x_medium en_font">
                    <p class="name">BJ41600S</p>
                    <p class="price font_weight_medium">NTD3,490</p>
                  </div>
                  <div class="color_box">
                    <div class="color1"></div>
                    <div class="color2"></div>
                  </div>
                </a>
              </li>
              <li class="product_item">
                <a class="product_link" href="">
                  <img src="../assets/images/product-7.png" alt="product" />
                  <div class="info_box text_x_medium en_font">
                    <p class="name">BJ41600S</p>
                    <p class="price font_weight_medium">NTD3,490</p>
                  </div>
                  <div class="color_box">
                    <div class="color1"></div>
                    <div class="color2"></div>
                  </div>
                </a>
              </li>
              <li class="product_item">
                <a class="product_link" href="">
                  <img src="../assets/images/product-8.png" alt="product" />
                  <div class="info_box text_x_medium en_font">
                    <p class="name">BJ41600S</p>
                    <p class="price font_weight_medium">NTD3,490</p>
                  </div>
                  <div class="color_box">
                    <div class="color1"></div>
                    <div class="color2"></div>
                  </div>
                </a>
              </li>
              <li class="product_item">
                <a class="product_link" href="">
                  <img src="../assets/images/product-9.png" alt="product" />
                  <div class="info_box text_x_medium en_font">
                    <p class="name">BJ41600S</p>
                    <p class="price font_weight_medium">NTD3,490</p>
                  </div>
                  <div class="color_box">
                    <div class="color1"></div>
                    <div class="color2"></div>
                  </div>
                </a>
              </li>
              <li class="product_item">
                <a class="product_link" href="">
                  <img src="../assets/images/product-10.png" alt="product" />
                  <div class="info_box text_x_medium en_font">
                    <p class="name">BJ41600S</p>
                    <p class="price font_weight_medium">NTD3,490</p>
                  </div>
                  <div class="color_box">
                    <div class="color1"></div>
                    <div class="color2"></div>
                  </div>
                </a>
              </li>
              <li class="product_item">
                <a class="product_link" href="">
                  <img src="../assets/images/product-11.png" alt="product" />
                  <div class="info_box text_x_medium en_font">
                    <p class="name">BJ41600S</p>
                    <p class="price font_weight_medium">NTD3,490</p>
                  </div>
                  <div class="color_box">
                    <div class="color1"></div>
                    <div class="color2"></div>
                  </div>
                </a>
              </li>
              <li class="product_item">
                <a class="product_link" href="">
                  <img src="../assets/images/product-12.png" alt="product" />
                  <div class="info_box text_x_medium en_font">
                    <p class="name">BJ41600S</p>
                    <p class="price font_weight_medium">NTD3,490</p>
                  </div>
                  <div class="color_box">
                    <div class="color1"></div>
                    <div class="color2"></div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <%- include('./layout/page'); -%>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
