$white: #ffffff;
$black: #000000;
$light_gray: #f2f2f2;
$gray: #707070;
$black_shadow: #00000029;

$pale_pink_bg: #fbf2f2;
$dark_red_bg: #aa0601;
$deep_brown_bg: #650300;

$deep_brown_font: #650300;
$dark_red_font: #aa0601;
$dark_gray_font: #555555;
$blue_gray_font: #495057;

$light_gray_border: #dcdcdc;
$dark_gray_border: #555555;
$deep_red_border: #9f1213;
$dark_red_border: #aa0601;
$silver_border: #ced4da;
$transparent_black_border: #00000020;
$gray_border: #707070;

$dark_brown_product: #5f3e2d;
$burnt_orange_product: #b75929;
